{% extends "base.html" %}
{% block body %}
<div class="container">
  <h1>Welcome, {{session['username']}}!</h1>
  <p>Bienvenido a tu Dashboard de {{session['role_name']}}</p>
  
  <!-- Botón de Logout -->
  <a href="{{ url_for('auth_controller.logout') }}" class="btn btn-logout">Logout</a>
  
  <!-- Botón para Administrar Inventario -->
  <a href="{{ url_for('inventory_controller.manage_consumos') }}" class="btn btn-extra">Administrar Inventario</a>
  
  <!-- Botón para el Reporte de Medicina Más Consumida -->
  <a href="{{ url_for('inventory_controller.reporte_medicina_mas_consumida') }}" class="btn btn-info">Reporte Medicina Más Consumida</a>
  
  <!-- Botón para Predicción de Consumos -->
  <a href="{{ url_for('inventory_controller.predict_consumos') }}" class="btn btn-warning">Predicción de Consumos</a>
  <!-- Botón para el Reporte de Consumo por Pacientes -->
  <a href="{{ url_for('inventory_controller.reporte_consumo_pacientes') }}" class="btn btn-success">Reporte Consumo por Pacientes</a>
</div>
{% endblock %}